
<%=  render :partial => 'layouts/navbarInner' %>
<br>
<br>
<div class="container">
  <% if flash[:error].present? %>
    <p class="bg-danger"><%= flash[:error] %></p>
  <% end %>


    <div class="row">
    <div class="col-md-4"></div>

    <%= form_tag login_path, :class=>"form-inline col-md-4" do %>
    <div class="form-group login-field">
    <%= label_tag "Email" %>
    <br>
    <%= email_field_tag :email, nil, :autofocus=>true, :required => true, :class=>"form-control"%>
    </div>
    </br>

    <div class="form-group login-field">
    <%= label_tag "Password" %>
    <br>
    <%= password_field_tag :password, nil, :required=>true, :class=>"form-control"%>
    <br>
    <br>
    <%= submit_tag "Login", :class=>"btnblack btnborder btn btn-primary loginbtn" %>
    </div>

    <% end %>


    <div class="col-md-4"></div>
    </div>

</div>
