<%= form_for @user do |f| %>
<div class="row">

<div class="col-md-3"></div>

<div class="col-md-6">
<div class="form-group">
  *<%= f.label :name %>
  <%= f.text_field :name, :autofocus=>true, :required => true, :class=>"form-control  textfield-border" %>
</div>
<div class="form-group">
  *<%= f.label :email %>
  <%= f.email_field :email, :required => true, :class=>"form-control textfield-border" %>
</div>
  <%# if @user.id.nil? %>
  <div class="form-group">
    *<%= f.label :password %>
    <%= f.password_field :password, :required => true, :class=>"form-control textfield-border" %>
  </div>
  <div class="form-group">
    *<%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required=>true, :class=>"form-control textfield-border" %>
  </div>
  <%# end %>
<div class="form-group">
  <%= f.label :contact %>
  <%= f.text_field :contact, :class=>"form-control textfield-border"%>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, :class=>"form-control textfield-border" %>
</div>
<div class="button-center">
  <%= f.submit :class=>"btnblack btnborder btn btn-primary"%>
</div>
<% end %>
</div>

<div class="col-md-3"></div>

</div>
