
<%=  render :partial => 'layouts/navbarInner' %>

<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h1>Wishlist</h1>

      <table class="table">
        <tr>
          <td> </td>
          <td>Product</td>
          <td>Size</td>
          <td>Unit Price</td>
        </tr>
        <% @current_user.favourites.each do |item| %>

        <tr>
          <td><%= cl_image_tag(item.product.images[0], :style => "height:150px") %></td>

            <td><%= link_to item.product.name, product_path(:id => item.product.id)%></td>

          <td><%= item.product.size %></td>
          <td><%= number_to_currency(item.product.cost) %></td>
        </tr>

        <% end %>

      </table>
    </div>
  <div class="col-md-1"></div>
</div>
