<h1>Your Cart</h1>

<ul>
  <% @order.line_items.each do |item| %>
    <li>Product: <%= item.product.name %> | Quantity: <%= item.quantity %> | Size: <%= item.product.size %> | Price: <%= item.product.cost %></li>
  <% end %>
</ul>
<div id="totalCost">
  $<%= @order.total_cost %>
</div>
