

<%=  render :partial => 'layouts/navbarInner' %>

<div class="container">
  <h1>Your Cart</h1>


<%=  render :partial => 'pages/womenmen' %>

<div class="container">
  <h2>Your Cart</h2>

  <%= render :partial => 'orders/show_order' %>


<%= link_to "Checkout", new_order_charge_path(:order_id => @order.id), :class=>"btn btn-primary btn-sm"%>


  <%= link_to 'Empty cart', @order, method: :delete, data: {confirm: 'Are you sure you want to empty your cart?'}, :class=>"btn btn-primary btn-sm" %>

</div>
