<%=  render :partial => 'layouts/navbarInner' %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <h1>Edit Category</h1>
    <%= form_for @category do |f| %>
      <div class="form-group">
        *<%= f.label :name %>
        <%= f.text_field :name, :class => "textfield-border form-control", :required => true %>
      </div>
      <div class="form-group">
          *<%= f.label :gender %>
          <%= f.select :gender, [['women'],['men'],['unisex']], :include_blank => false, :required => true %>
      </div>
      <%= submit_tag 'Edit Category', :class => 'btnborder btn btn-primary'%>
    <% end %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5"></div>
  <div class="col-md-1"></div>
</div>
