

<%=  render :partial => 'layouts/navbarInner' %>
<h1>New Category</h1>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= form_for @category do |f| %>
        <div class="form-group">
          <%= f.text_field :name, :class => "form-control", :placeholder => "Category Name", :required => true %>
          <%= f.text_field :gender, :class => "form-control", :placeholder => "Category Gender", :required => true %>
        </div>
        <%= submit_tag 'New Category', :class => 'btn btn-primary'%>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  <div class="col-md-5">
    <%=  render :partial => 'categories/list' %>
  </div>
  <div class="col-md-1"></div>
</div>
