
<%=  render :partial => 'layouts/navbarInner' %>


<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <h3><%= @product.name %></h3>
      <h4><%= @product.brand %></h4>
      <p><%= number_to_currency(@product.cost) %></p>
      <p><%= @product.color %></p>
      <p><%= @product.info %></p>
      <% if @current_user.present? %>
      <div>
        <% if flash[:error].present? %>
          <p class="bg-danger"><%= flash[:error] %></p>
        <% end %>
        <% if flash[:msg].present? %>
          <p class="bg-danger"><%= flash[:msg] %></p>
        <% end %>
        <%= link_to "Add to Cart", product_line_items_path(product_id: @product.id), :method=>"post", :class=>"btnborder btn btn-primary btn-sm" %>
      </div>
        <div class="button-center">
          <% if @current_user.already_likes?(@product) %>
            <%= link_to "Remove from Wishlist", product_favourite_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"delete", :class=>"btn btn-primary btn-sm"%>
          <% else %>

            <%= link_to "Add Favourite", product_favourites_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"post", :class=>"btnborder btn btn-primary btn-sm" %>

            <%= link_to "Add to Wishlist", product_favourites_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"post", :class=>"btn btn-primary btn-sm" %>

          <% end %>
        </div>
    </div>
    <div class='col-md-6'>
      <% @product.images.each do |i| %>
        <%= cl_image_tag i, :class=>"productListThumb"  %>
      <% end %>
    </div>
  </div>



      <div>
        <h4>Reviews</h4>
        <% @product.reviews.each do |review| %>
          <p>

            <%= review.desc %>
          </p>
        <% end %>

        <%= form_for([@product, @product.reviews.build]) do |f| %>
        <%= hidden_field_tag :user_id, @current_user.id %>
        <div class="form-group">
          <%= f.text_area :desc, :class=>"form-control textfield-border"  %>
        </div>
        <div class="button-center">
          <%= f.submit 'Add Review', :class=>"btn btn-primary btn-sm" %>
        </div>
        <% end %>
      </div>
    <% end %>

  </div>
  </div>
</div>
