
<%=  render :partial => 'layouts/navbarInner' %>


<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <% if @current_user.admin %>
        <div class = "adminProductsShow">
          <%= link_to "Edit", edit_product_path(@product.id), :class=>"adminbtn btnblack btnborder btn btn-primary " %>
          <%= link_to "Delete", product_path(@product.id), :method=>"delete",:class=>"adminbtn btnblack btnborder btn btn-primary " , :data=>{:confirm=>"Are you sure?"} %>
        </div>
      <% end %>
      <h3><%= @product.name %></h3>
      <br>
      <p>Price : <span id="price"><%= number_to_currency(@product.cost)%></span></p>
      <p>Designed by : <span class="green"><%= @product.brand %></span></p>
      <p>Color : <span class="green"><%= @product.color %></span></p>
      <br>
      <p><%= @product.info %></p>
      <% if @current_user.present? %>
        <div>
          <% if flash[:error].present? %>
            <p class="bg-danger"><%= flash[:error] %></p>
          <% end %>
          <% if flash[:msg].present? %>
            <p class="bg-danger"><%= flash[:msg] %></p>
          <% end %>
          <%= link_to "Add to Cart", product_line_items_path(product_id: @product.id), :method=>"post", :class=>"btnblack btnborder btn btn-primary" %>
        </div>
        <div class="button-center">
          <% if @current_user.already_likes?(@product) %>
            <%= link_to "Remove from Wishlist", product_favourite_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"delete", :class=>"btnblack btnborder btn btn-primary "%>
          <% else %>

            <%= link_to "Add to Wishlist", product_favourites_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"post", :class=>"btnblack btnborder btn btn-primary " %>

          <% end %>
        </div>
        <% end %>
    </div>

    <div class='col-md-6'>
        <% @product.images.each do |i| %>
          <%= cl_image_tag i, :class=>"productListThumb"  %>
        <% end %>
    </div>
  </div>

  <div>
    <h4><strong>Reviews</strong></h4>
    <% if @current_user.present? %>
      <%= form_for([@product, @product.reviews.build]) do |f| %>
        <%= hidden_field_tag :user_id, @current_user.id %>
        <div class="form-groupshow">
          <% if flash[:review_error].present? %>
            <p class="bg-danger"><%= flash[:review_error] %></p>
          <% end %>
          <%= f.text_area :desc, :class=>"form-control textfield-border"  %>
          <%= f.submit 'Add Review', :class=>"btnblack btnshowborder btn btn-primaryshow" %>
        </div>
      <% end %>
    <% end %>
    <% @product.reviews.each do |review| %>
      <p><i class="fa fa-comment-o" aria-hidden="true"></i>
        <%= review.desc %>
      </p>
    <% end %>
  </div>

</div>
