<!DOCTYPE html>
<html>
<head>
  <title>GoGirlsFashions</title>

  <!-- <%= cloudinary_js_config %> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

   <script type="text/javascript">
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
   </script>

</head>
<body>



<body class="<%= params[:controller] %> <%=params[:action]%>">

<div class="wrapper">
  <%= yield %>
</div>

<% unless current_page?(root_path) %>
<div class="chat-window">
  <h1 class="chat-header">Need help???<span class="hideChat">hide</span></h1>
  <div class="chat-history"></div>
</div>
<div class="chat-input">
  <%= render :partial => "chatbot/chat" %>
</div>
<div class="showChat">
  Show chat window
</div>
<% end %>


</body>
</html>
